body {
	margin:0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	position: relative;
}

#main {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	clear: both;
	opacity: 1;
	top: 0;
	left: 0;
	position: absolute;
}

#hud {
	width: 100%;
	min-height: 20px;
	background-color: #fffeff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #949494;
	margin-bottom: 10px;
	position: relative;
    display: box;
    display: -moz-box;  
  	display: -webkit-box;  
}

#hud div {
	margin-left: 20px;
}

#restart {
	background-color: #d8d8d8;
	padding: 5px;
	cursor: pointer;
}

ul#grid {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    behavior: url(unselectable.htc); /* change this path as needed */
}
ul#grid li {
	width: 200px;
	height: 200px;
	margin: 5px;
	background-color: #dbdbdb;
	text-align: center;
	cursor: pointer;
	border-radius:15px;
	-moz-border-radius: 15px;
	float: left;
	line-height: 190px;
	font-size: 80px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

ul#grid li:hover, ul#grid li.selected{
	background-color: #bfbfbf;
}

#main.overlay {
	background-color: rgba(234,234,234,0.5);
}

ul#grid li.winner {
	background-color: #aae692;
	cursor: default;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

ul#grid li.loser {
	background-color: #efa384;
	cursor: default;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}